{% extends 'base.html.twig' %}

{% block title %}Person index{% endblock %}

{% block body %}
    <h1>Person index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Sex</th>
                <th>Nume</th>
                <th>Prenume</th>
                <th>Adresa</th>
                <th>Oras</th>
                <th>Email</th>
                <th>Termeni</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>
                <td>{{ person.id }}</td>
                <td>{{ person.Sex }}</td>
                <td>{{ person.Nume }}</td>
                <td>{{ person.Prenume }}</td>
                <td>{{ person.Adresa }}</td>
                <td>{{ person.Oras }}</td>
                <td>{{ person.Email }}</td>
                <td>{{ person.Termeni ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('person_show', {'id': person.id}) }}">show</a>
                    <a href="{{ path('person_edit', {'id': person.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('person_new') }}">Create new</a>
{% endblock %}
