{% extends 'base.html.twig' %}

{% block title %}Person{% endblock %}

{% block body %}
    <h1>Person</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ person.id }}</td>
            </tr>
            <tr>
                <th>Sex</th>
                <td>{{ person.Sex }}</td>
            </tr>
            <tr>
                <th>Nume</th>
                <td>{{ person.Nume }}</td>
            </tr>
            <tr>
                <th>Prenume</th>
                <td>{{ person.Prenume }}</td>
            </tr>
            <tr>
                <th>Adresa</th>
                <td>{{ person.Adresa }}</td>
            </tr>
            <tr>
                <th>Oras</th>
                <td>{{ person.Oras }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ person.Email }}</td>
            </tr>
            <tr>
                <th>Termeni</th>
                <td>{{ person.Termeni ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('person_index') }}">back to list</a>

    <a href="{{ path('person_edit', {'id': person.id}) }}">edit</a>

    {{ include('person/_delete_form.html.twig') }}
{% endblock %}
